<!DOCTYPE html>
<html>
  <head>
    <title>Cabinet</title>
    </head>
<body>
	<div class="header">
		<div class="left">
		</div>
		<div class="center">
			<a>&nbsp</a>
				<div class="notifications">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<p>{{ message }}</p>
					{% endfor %}
				{% else %}
				<p>-</p>
				{% endif %}
				{% endwith %}
			</div>
		</div>		
		<div class="right">
			<h3>Hello: {{session['current_user']}}<br> <a href="/logout">Log out</a></h3>
		</div>
	</div>

  <div class="container">
	Flag is QwertyAsdfghZxcvb123  
	<form class="form-change" method="POST" action="/change_pass">
	<p>Change pass:</p>
        <p>Password:
        {{ changeform.password(placeholder="Password",id="inputPassword", class="form-control", required="") }}</p>
        <p>
        {{ changeform.csrf_token }}
        {{ changeform.submit(class="btn btn-lg btn-primary btn-block")}}</p>
        <p>   
		</form> 
    </div>
</body>
</html>