<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
  </head>
  <body>
  <div class="header">
		<div class="left">
		</div>
		<div class="center">
			<a>&nbsp</a>
				<div class="notifications">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<p>{{ message }}</p>
					{% endfor %}
				{% else %}
				<p>-</p>
				{% endif %}
				{% endwith %}
			</div>
		</div>		
		<div class="right">			
		</div>
	</div>

  <div class="container">
    <form class="form-signin" method="POST">
      <p>Username:
      {{ signupform.username(id="inputEmail", class="form-control", autofocus="",placeholder="User Name")}}
      {% if signupform.username.errors %}
      <ul class="errors">
        {% for error in signupform.username.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}</p>
      <p>Password:
      {{ signupform.password(id="inputPassword", class="form-control", required="", placeholder="Password") }}
      {% if signupform.password.errors %}
      <ul class="errors">
        {% for error in signupform.password.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}</p>
      {{ signupform.csrf_token }}
      <p>Sign up:
      {{ signupform.submit(class="btn btn-lg btn-primary btn-block")}}</p>
        <div class="noacc">Already have an account? <a class="signup" href="/signin">Sign in</a></div>      
    </form>

      
    </div>
</body>
</html>